@{
}

@using MyBlog.Controllers;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using TucConnect.Data.Enums;
@*modelo paginado*@
@model IPagedList<Post>


@{
    ViewData["Title"] = "Mis Post";
}



<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4 mb-4">Tucuman Conectado</h1>
            <p class="lead"> Tus publicaciones:.</p>
        </div>
    </div>


    @*MOSTRAR TARJETAS DE LOS POST-START*@
    <div class="row">
        @*validar que no haya errores*@
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-info" role="alert">
                @ViewBag.Error
            </div>
        }

        @*Crear multiples tarjetas con un bucle*@
        @foreach (var post in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow">
                    <div class="card-body">
                        <h2 class="card-title mb-4" style="font-family: 'Arial', sans-serif;color: #333;">@post.Titulo</h2>
                        <p class="card-subtitle mb-4" style="font-size :22px">En <strong>@post.Zona </strong></p>

                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@post.FechaCreacion.ToShortDateString()</small>
                        <div class="float-right">
                            <a asp-route-id="@post.PostId" asp-action="Details" asp-controller="Post"
                               class="btn btn-sm btn-primary text-white">Abrir publicación</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    @*MOSTRAR TARJETAS DE LOS POST-END*@



    @*PAGINACION-START*@
    <div class="row">
        @*programar para usar el X.PagedList -generado automaticamente-*@
        <div class="col-md-12">
            @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }), new PagedListRenderOptions()
       {
           LiElementClasses = new string[] { "page-item" },
           PageClasses = new string[] { "page-link" },
           ContainerDivClasses = new string[] { "pagination justify-content-center" },
           UlElementClasses = new string[] { "pagination" }
       })
        </div>
    </div>
    @*PAGINACION-END*@

</div>


